.dropDown {
    position: relative;
    cursor: pointer;
}

.dropDownBtn{
&:hover {
        color: var(--hover-btn);
    }
}

.dropdownContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 130%;
    background-color: var(--bg-color);
    width: max-content;
    border: 1px solid white;
    border-radius: 12px;
}

.dropdownItem {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    border-radius: 12px;
    outline: none;
    text-decoration: none;
    color: white;

    &:hover {
        background-color: var(--hover-btn);
    }

    &:nth-child(1) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    &:nth-last-child(1) {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}